@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h1 class="display-4 text-success">Welcome! It's Naimur Rahman</h1>
    <p class="lead">Asp.net Software Engineer</p>
</div>
